workflows/siarc_junho_exploit_detection_n8n.json
{
  "name": "SIARC Junho - Detecção de Exploits e Malwares Mutáveis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "siarc/exploit-detection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-exploit-event",
      "name": "Receber Evento de Exploit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "notes": "Recebe eventos POST em /webhook/siarc/exploit-detection"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://siarc-api:8080/analyze/exploit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-exploit-analysis",
      "name": "Análise de Exploit (CVE + MITRE + XAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "notes": "POST /analyze/exploit: CVE + técnicas MITRE ATT&CK + score comportamental + XAI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "zero-day-check",
              "leftValue": "={{ $json.exploit_analysis.is_zero_day }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-zero-day",
      "name": "Zero-Day Detectado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 0],
      "notes": "Verifica se o exploit envolve vulnerabilidade zero-day"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "zd-alerta",
              "name": "alerta",
              "value": "ALERTA_ZERO_DAY",
              "type": "string"
            },
            {
              "id": "zd-prioridade",
              "name": "prioridade",
              "value": "MAXIMA",
              "type": "string"
            },
            {
              "id": "zd-mensagem",
              "name": "mensagem",
              "value": "={{ 'ZERO-DAY DETECTADO — Score: ' + $json.exploit_analysis.exploit_score + '/100 — CVEs: ' + ($json.exploit_analysis.cves_found.join(', ') || 'Não identificado') + ' — ' + $json.exploit_analysis.recommended_action }}",
              "type": "string"
            },
            {
              "id": "zd-event-id",
              "name": "event_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "zd-verdict",
              "name": "verdict",
              "value": "={{ $json.exploit_analysis.verdict }}",
              "type": "string"
            },
            {
              "id": "zd-techniques",
              "name": "techniques_detected",
              "value": "={{ $json.exploit_analysis.techniques_detected }}",
              "type": "array"
            },
            {
              "id": "zd-cves",
              "name": "cves_found",
              "value": "={{ $json.exploit_analysis.cves_found }}",
              "type": "array"
            },
            {
              "id": "zd-mitre",
              "name": "mitre_mapping",
              "value": "={{ $json.exploit_analysis.mitre_mapping }}",
              "type": "object"
            },
            {
              "id": "zd-xai",
              "name": "xai_explanation",
              "value": "={{ $json.exploit_analysis.xai_explanation }}",
              "type": "array"
            },
            {
              "id": "zd-full",
              "name": "exploit_analysis",
              "value": "={{ $json.exploit_analysis }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-zero-day-alert",
      "name": "Enriquecer — Alerta Zero-Day",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [780, -160],
      "notes": "Prioridade MÁXIMA: zero-day requer resposta imediata e isolamento de host"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "critical-score-check",
              "leftValue": "={{ $json.exploit_analysis.exploit_score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical-score",
      "name": "Exploit Crítico? (score ≥ 80)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [780, 80],
      "notes": "Separa exploits críticos (score ≥ 80) dos confirmados/suspeitos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "crit-alerta",
              "name": "alerta",
              "value": "EXPLOIT_CRITICO",
              "type": "string"
            },
            {
              "id": "crit-prioridade",
              "name": "prioridade",
              "value": "IMEDIATA",
              "type": "string"
            },
            {
              "id": "crit-mensagem",
              "name": "mensagem",
              "value": "={{ 'EXPLOIT CRÍTICO — Score: ' + $json.exploit_analysis.exploit_score + '/100 — Técnicas: ' + $json.exploit_analysis.techniques_detected.join(', ') + ' — ' + $json.exploit_analysis.recommended_action }}",
              "type": "string"
            },
            {
              "id": "crit-event-id",
              "name": "event_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "crit-verdict",
              "name": "verdict",
              "value": "={{ $json.exploit_analysis.verdict }}",
              "type": "string"
            },
            {
              "id": "crit-score",
              "name": "exploit_score",
              "value": "={{ $json.exploit_analysis.exploit_score }}",
              "type": "number"
            },
            {
              "id": "crit-techniques",
              "name": "techniques_detected",
              "value": "={{ $json.exploit_analysis.techniques_detected }}",
              "type": "array"
            },
            {
              "id": "crit-cves",
              "name": "cves_found",
              "value": "={{ $json.exploit_analysis.cves_found }}",
              "type": "array"
            },
            {
              "id": "crit-polymorphic",
              "name": "is_polymorphic",
              "value": "={{ $json.exploit_analysis.is_polymorphic }}",
              "type": "boolean"
            },
            {
              "id": "crit-xai",
              "name": "xai_explanation",
              "value": "={{ $json.exploit_analysis.xai_explanation }}",
              "type": "array"
            },
            {
              "id": "crit-full",
              "name": "exploit_analysis",
              "value": "={{ $json.exploit_analysis }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-critical-exploit",
      "name": "Enriquecer — Exploit Crítico",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, -40],
      "notes": "Score ≥ 80: iniciar isolamento de host e plano de resposta a incidente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confirmed-score-check",
              "leftValue": "={{ $json.exploit_analysis.exploit_score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-confirmed-exploit",
      "name": "Exploit Confirmado? (score ≥ 50)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 180],
      "notes": "Distingue exploits confirmados (50-79) de suspeitos/limpos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "conf-alerta",
              "name": "alerta",
              "value": "EXPLOIT_CONFIRMADO",
              "type": "string"
            },
            {
              "id": "conf-prioridade",
              "name": "prioridade",
              "value": "ALTA",
              "type": "string"
            },
            {
              "id": "conf-mensagem",
              "name": "mensagem",
              "value": "={{ 'EXPLOIT CONFIRMADO — Score: ' + $json.exploit_analysis.exploit_score + '/100 — ' + $json.exploit_analysis.recommended_action }}",
              "type": "string"
            },
            {
              "id": "conf-event-id",
              "name": "event_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "conf-verdict",
              "name": "verdict",
              "value": "={{ $json.exploit_analysis.verdict }}",
              "type": "string"
            },
            {
              "id": "conf-techniques",
              "name": "techniques_detected",
              "value": "={{ $json.exploit_analysis.techniques_detected }}",
              "type": "array"
            },
            {
              "id": "conf-xai",
              "name": "xai_explanation",
              "value": "={{ $json.exploit_analysis.xai_explanation }}",
              "type": "array"
            },
            {
              "id": "conf-full",
              "name": "exploit_analysis",
              "value": "={{ $json.exploit_analysis }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-confirmed-exploit",
      "name": "Enriquecer — Exploit Confirmado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 100],
      "notes": "Score 50-79: alertar equipe de segurança e iniciar análise forense"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sus-alerta",
              "name": "alerta",
              "value": "={{ $json.exploit_analysis.verdict === 'SUSPEITO' ? 'SUSPEITO' : 'LIMPO' }}",
              "type": "string"
            },
            {
              "id": "sus-prioridade",
              "name": "prioridade",
              "value": "={{ $json.exploit_analysis.verdict === 'SUSPEITO' ? 'NORMAL' : 'BAIXA' }}",
              "type": "string"
            },
            {
              "id": "sus-mensagem",
              "name": "mensagem",
              "value": "={{ 'Evento processado — Score: ' + $json.exploit_analysis.exploit_score + '/100 — Veredito: ' + $json.exploit_analysis.verdict + ' — ' + $json.exploit_analysis.recommended_action }}",
              "type": "string"
            },
            {
              "id": "sus-event-id",
              "name": "event_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "sus-verdict",
              "name": "verdict",
              "value": "={{ $json.exploit_analysis.verdict }}",
              "type": "string"
            },
            {
              "id": "sus-score",
              "name": "exploit_score",
              "value": "={{ $json.exploit_analysis.exploit_score }}",
              "type": "number"
            },
            {
              "id": "sus-full",
              "name": "exploit_analysis",
              "value": "={{ $json.exploit_analysis }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-suspicious-clean",
      "name": "Enriquecer — Suspeito / Limpo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 300],
      "notes": "Score < 50: monitoramento padrão ou nenhuma ação"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-zero-day",
      "name": "Responder — Zero-Day",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, -160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-critical",
      "name": "Responder — Crítico",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, -40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-confirmed",
      "name": "Responder — Confirmado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-suspicious",
      "name": "Responder — Suspeito/Limpo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Receber Evento de Exploit": {
      "main": [
        [{"node": "Análise de Exploit (CVE + MITRE + XAI)", "type": "main", "index": 0}]
      ]
    },
    "Análise de Exploit (CVE + MITRE + XAI)": {
      "main": [
        [{"node": "Zero-Day Detectado?", "type": "main", "index": 0}]
      ]
    },
    "Zero-Day Detectado?": {
      "main": [
        [{"node": "Enriquecer — Alerta Zero-Day", "type": "main", "index": 0}],
        [{"node": "Exploit Crítico? (score ≥ 80)", "type": "main", "index": 0}]
      ]
    },
    "Enriquecer — Alerta Zero-Day": {
      "main": [
        [{"node": "Responder — Zero-Day", "type": "main", "index": 0}]
      ]
    },
    "Exploit Crítico? (score ≥ 80)": {
      "main": [
        [{"node": "Enriquecer — Exploit Crítico", "type": "main", "index": 0}],
        [{"node": "Exploit Confirmado? (score ≥ 50)", "type": "main", "index": 0}]
      ]
    },
    "Enriquecer — Exploit Crítico": {
      "main": [
        [{"node": "Responder — Crítico", "type": "main", "index": 0}]
      ]
    },
    "Exploit Confirmado? (score ≥ 50)": {
      "main": [
        [{"node": "Enriquecer — Exploit Confirmado", "type": "main", "index": 0}],
        [{"node": "Enriquecer — Suspeito / Limpo", "type": "main", "index": 0}]
      ]
    },
    "Enriquecer — Exploit Confirmado": {
      "main": [
        [{"node": "Responder — Confirmado", "type": "main", "index": 0}]
      ]
    },
    "Enriquecer — Suspeito / Limpo": {
      "main": [
        [{"node": "Responder — Suspeito/Limpo", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Sprint Junho/2026 — Detecção de exploits em tempo real com análise CVE, MITRE ATT&CK, XAI e correlação comportamental. Webhook → /analyze/exploit → IF(zero_day) → IF(score≥80) → IF(score≥50) → 4 rotas de resposta."
  }
}
